<p>Stores and products</p>

<section>
    <mat-form-field appearance="outline">
      <mat-label>Select store</mat-label>
      <mat-select [(ngModel)]="selectedStore">
        <mat-option *ngFor="let store of stores" [value]="store">
        {{ store.Name }}
       </mat-option>
      </mat-select>
    </mat-form-field>
  </section>
 
  <div >
    <section>
        <mat-form-field appearance="outline">
          <mat-label>Products</mat-label>
          <mat-select >
            <mat-option *ngFor="let product of selectedStore.products" [value]="product">
            {{ product.Id }}
           </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
  </div>
 
